.topBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Dosis', sans-serif;
    padding-top:1vh;
}

.topBarContainer {
    display: flex;
    width: 90%;
    border-bottom: 1px solid #ECECEC;
}

.leftContainer {
    display: flex;
    align-items: center;
    width: 50%;
}

.logo {
    flex: 1 1 0;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: .5vh;
}

.rflabs-logo-website {
    max-width: 250px;
}

.rightContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:50%;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    height: 7vh;
    font-size: 1.3vw;
}

.links a {
    color: #2D333F;
}

.links a:hover {
    text-decoration: none;
}

.dropdown {
    display: flex;
    align-items: center;
    height: 100%;
}

.dropdown-content {
    display: none;
    padding-top: 1vh;
    padding-left: .5vw;
    position: absolute;
    top: 7vh;
    background-color: #ffffff;
    min-width: 11vw;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    font-size: 1.2vw;
    box-shadow: 1px 1px 5px #CCCCCC;
}

.test {
    display: flex;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    padding-bottom: 1vh;
}

.team {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-size: 1.3vw;
}

.team span {
    color: #2D333F;
}

.team a:hover {
    text-decoration: none;
}

.goToMain {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 5%;
    height:100%;
}


@media only screen and (max-width: 768px) {
    .topBar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        font-family: 'Dosis', sans-serif;
    }
    
    .topBarContainer {
        display: flex;
        width: 90%;
        border-bottom: 1px solid #ECECEC;
    }
    
    .leftContainer {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    
    .logo {
        flex: 1 1 0;
        flex-wrap: nowrap;
        align-items: center;
        padding-bottom: .5vh;
    }
    
    .rflabs-logo-website {
        max-width: 120px;
        
    }
    
    .rightContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width:50%;
    }
    
    .links {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-right: 2vw;
        height: 7vh;
        font-size: 3vw;
    }
    
    .links a {
        color: #2D333F;
    }
    
    .links a:hover {
        text-decoration: none;
    }
    
    .dropdown {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .dropdown-content {
        display: none;
        padding-top: 1vh;
        padding-left: .5vw;
        position: absolute;
        top: 7vh;
        background-color: #ffffff;
        min-width: 25vw;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
        font-size: 3vw;
        box-shadow: 1px 1px 5px #CCCCCC;
    }
    
    .test {
        display: flex;
    }
    
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }
    
    .dropdown-content a {
        padding-bottom: 1vh;
    }
    
    .team {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 7vh;
        font-size: 3vw;
    }
    
    .team span {
        color: #2D333F;
    }
    
    .team a:hover {
        text-decoration: none;
    }
    
    .goToMain {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 5%;
        height:100%;
    }
}
