.ayvaDescription {
    display: flex;
    height: 100%;
    width:100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway';
    font-size: .8vw;
}

.ayvaOverview {
    display:flex;
    width:50vw;
    padding-bottom: 2vh;
}

.ayvaComponents {
    display:flex;
    width:50vw;
}

.ayvaComponents h1 {
    font-weight: bold;
    font-size: 1vw;
}


.ayvaComponentList {
    display:flex;
    width:50vw;
    padding-bottom: 2vh;
}

.ayvaBenefit {
    display:flex;
    width:50vw;
    padding-bottom: 4vh;
}

.ayvaArchitecture {
    display:flex;
    width:70vw;
    justify-content: center;
}

.ayvaArchitectureImg {
    height: 100%;
    width: 70%;
}