.ayvaDescription {
    display: flex;
    height: 100%;
    width:100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.ayvaArchitecture {
    flex: 1 1 100;
    justify-content: center;
}

.ayvaArchitectureImg {
    height: auto;
    width: 80vw;
    max-width: 1200px;
}


@media only screen and (max-width: 768px) {
    .ayvaDescription {
        display: flex;
        height: 100%;
        width:100%;
        flex-direction: column;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        font-size: 3vw;
    }
    
    .ayvaBenefit {
        display:flex;
        width:70vw;
        padding-bottom: 4vh;
    }
    
    .ayvaArchitecture {
        display:flex;
        width:70vw;
        justify-content: center;
    }
    
    .ayvaArchitectureImg {
        height: 100%;
        width: 100%;
    }

    .ayva {
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        color: #A40E4C;
        font-size: 4vw;
    }


}