

.ayvaDescription {
    display: flex;
    height: 100%;
    width:100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 1vw;
}

.ayvaOverview {
    display:flex;
    width:50vw;
    padding-bottom: 2vh;
}

.ayvaComponents {
    display:flex;
    width:50vw;
}

.ayvaComponents h1 {
    font-weight: 700;
    font-size: 1vw;
    color: #03236E;
}


.ayvaComponentList {
    display:flex;
    width:50vw;
}

.ayvaComponentList ul{
    padding-bottom: 0;
    list-style-type: none;
    padding-left:0;
}

.ayvaComponentList li{
    padding-bottom: 0;
}

.ayvaArchitecture {
    display:flex;
    width:70vw;
    justify-content: center;
    padding-bottom: 4vh;
}

.ayvaArchitectureImg {
    height: 100%;
    width: 70%;
}

.ayva {
    font-weight: bold;
    color: #A40E4C;
    font-size: 1.2vw;
}



@media only screen and (max-width: 768px) {
    .ayvaDescription {
        display: flex;
        height: 100%;
        width:100%;
        flex-direction: column;
        justify-content: center;
        font-family: 'Raleway';
        font-size: 3vw;
    }
    
    .ayvaOverview {
        display:flex;
        width:70vw;
        padding-bottom: 2vh;
    }
    
    .ayvaComponents {
        display:flex;
        width:70vw;
    }
    
    .ayvaComponents h1 {
        font-weight: bold;
        font-size: 3vw;
    }
    
    
    .ayvaComponentList {
        display:flex;
        width:70vw;
        padding-bottom: 1vh;
    }
    
    .ayvaBenefit {
        display:flex;
        width:70vw;
        padding-bottom: 4vh;
    }
    
    .ayvaArchitecture {
        display:flex;
        width:70vw;
        justify-content: center;
    }
    
    .ayvaArchitectureImg {
        height: 100%;
        width: 100%;
    }


}