
.tableOfContents {
    flex: 1 1 0;
    flex-direction: column;
    position: fixed;
    top: 15vh;
    width:14vw;
    background-color: #F7F8F9;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.tableOfContents h3 {
    font-size: 1.3vw;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #DA4067;
    text-decoration: underline;
}

.contentList {
    flex: 1 1 0;
    flex-direction: column;
    padding-left: 1vw;    
    
}

.contentList li{
    font-size: .9vw;
    font-family: 'Lato', sans-serif;
    padding-bottom: 1vh;
    color: grey;
}